@import "../../styles/common";

.button {
    display: inline;
    box-sizing: border-box;
    width: 148px;
    height: 35px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
	transition: all 0.2s;
}

.primary {
    color: white;
    border: 1px solid white;
    background-color: map-get($map: $colors, $key: purp);
	&:hover {
		background-color: map-get($map: $colors, $key: primary-hover);
	}
}

.ghost {
    color: map-get($map: $colors, $key: bl);
	border: 1px solid map-get($map: $colors, $key: l-gray);
    background-color: white;
	&:hover {
		color: white;
		border: 1px solid white;
		background-color: map-get($map: $colors, $key: purp);
		;
	}
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}
.down {
	transform: rotate(90deg);
	transition: all 0.2s;
}