@import "./common";

html,
body {
    margin: 0;
    padding: 0;
    color: map-get($map: $colors, $key: bl);
    background-color: #E5E5E5;
    font-family:
        "Noto Sans Display",
        sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}
