@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;700&display=swap");

$colors: (
    bl: #000,
    wh: #FFF,
    d-gray: #3B434E,
    l-gray: #E2E2E2,
    purp: #7653FC,
    pi: #FC836D,
    r: #DE0000,
    aqua: #C8F8E4,
    gr: #1DC37E,
    l-blue: #B3C0D9,
    yell: #DCB44E
);

html,
body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family:
        "Noto Sans Display",
        sans-serif;
    p {
        color: map-get($map: $colors, $key: purp);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}
