$colors: (
    bl: #3B434E,
    l-gray: #E2E2E2,
    purp: #7653FC,
    primary-hover: #563AC7,
    pi: #FC836D,
    r: #DE0000,
    aq: #C8F8E4,
    gr: #1DC37E,
    l-blue: #B3C0D9,
    yell: #DCB44E
);
